@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or tailwind.css */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.dark .fc .fc-list-event:hover td {
  background-color: #000;
}

.fc .fc-list-event:hover td {
  background-color: #aaa;
}